<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div style="font-family: Arial, sans-serif; padding: 20px;">
      <h2>Welcome 👋</h2>

      <p>Thanks for signing up. Please verify your email:</p>

      <a
        href="{{verifyUrl}}"
        style="
             display:inline-block;
             padding:10px 15px;
             background:#4f46e5;
             color:#fff;
             text-decoration:none;
             border-radius:5px;
           "
      >
        Verify Email
      </a>

      <p style="margin-top:20px; font-size:12px; color:#666;">
        If you didn’t request this, you can ignore this email.
      </p>
    </div>
  </body>
</html>